@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-PpntWJ5tk698: var(--token-KVdCS2PWAd6R);
  --plasmic-token-label-color-text-subtle: var(--token-PpntWJ5tk698);
  --token-t0RAJQ57dUgu: 16px;
  --plasmic-token-semantic-font-size-base: var(--token-t0RAJQ57dUgu);
  --token-dNI_BSy_K4RW: 13px;
  --plasmic-token-semantic-font-size-sm: var(--token-dNI_BSy_K4RW);
  --token-dkAclf71NduZ: 16px;
  --plasmic-token-semantic-font-size-md: var(--token-dkAclf71NduZ);
  --token-Jgf1AetUiIga: 19px;
  --plasmic-token-semantic-font-size-lg: var(--token-Jgf1AetUiIga);
  --token-go7ty7xs0Dqu: var(--token-rHSGjpMup-Oe);
  --plasmic-token-label-color-text-emphasis: var(--token-go7ty7xs0Dqu);
  --token-C_g-fkRuqlcf: var(--token-kIiIOw_bUl8D);
  --plasmic-token-label-color-text-primary: var(--token-C_g-fkRuqlcf);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-huhxfm7u9me9-hNcAx_font-family: "Inter", sans-serif;
  --mixin-huhxfm7u9me9-hNcAx_font-size: 16px;
  --mixin-huhxfm7u9me9-hNcAx_font-weight: 400;
  --mixin-huhxfm7u9me9-hNcAx_font-style: normal;
  --mixin-huhxfm7u9me9-hNcAx_color: #535353;
  --mixin-huhxfm7u9me9-hNcAx_text-align: left;
  --mixin-huhxfm7u9me9-hNcAx_text-transform: none;
  --mixin-huhxfm7u9me9-hNcAx_line-height: 1.5;
  --mixin-huhxfm7u9me9-hNcAx_letter-spacing: normal;
  --mixin-huhxfm7u9me9-hNcAx_white-space: pre-wrap;
  --mixin-huhxfm7u9me9-hNcAx_user-select: text;
  --mixin-huhxfm7u9me9-hNcAx_text-decoration-line: none;
  --mixin-huhxfm7u9me9-hNcAx_text-overflow: clip;
  --mixin-K4VQBBClfG8Y-hNcAx_color: #000000;
  --mixin-K4VQBBClfG8Y-hNcAx_font-weight: 700;
  --mixin-K4VQBBClfG8Y-hNcAx_font-size: 64px;
  --mixin-K4VQBBClfG8Y-hNcAx_line-height: 1;
  --mixin-K4VQBBClfG8Y-hNcAx_letter-spacing: -1px;
  --mixin-K4VQBBClfG8Y-hNcAx_white-space: pre-wrap;
  --mixin-g4a6IchumP9e-hNcAx_color: #000000;
  --mixin-g4a6IchumP9e-hNcAx_font-size: 48px;
  --mixin-g4a6IchumP9e-hNcAx_font-weight: 700;
  --mixin-g4a6IchumP9e-hNcAx_letter-spacing: -0.5px;
  --mixin-g4a6IchumP9e-hNcAx_line-height: 1.1;
  --mixin-g4a6IchumP9e-hNcAx_white-space: pre-wrap;
  --mixin-1KktMWgoc6vm-hNcAx_color: #0070f3;
  --mixin-1KktMWgoc6vm-hNcAx_white-space: pre-wrap;
  --mixin-s3vX2BYoCs8Q-hNcAx_color: #000000;
  --mixin-s3vX2BYoCs8Q-hNcAx_font-size: 32px;
  --mixin-s3vX2BYoCs8Q-hNcAx_font-weight: 600;
  --mixin-s3vX2BYoCs8Q-hNcAx_line-height: 1.2;
  --mixin-s3vX2BYoCs8Q-hNcAx_white-space: pre-wrap;
  --mixin-Ci574v0x8mX3-hNcAx_color: #000000;
  --mixin-Ci574v0x8mX3-hNcAx_font-size: 24px;
  --mixin-Ci574v0x8mX3-hNcAx_font-weight: 600;
  --mixin-Ci574v0x8mX3-hNcAx_line-height: 1.3;
  --mixin-Ci574v0x8mX3-hNcAx_white-space: pre-wrap;
  --mixin-qf1JFMe7_tF1-hNcAx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qf1JFMe7_tF1-hNcAx_border-bottom-color: #dddddd;
  --mixin-qf1JFMe7_tF1-hNcAx_border-bottom-style: solid;
  --mixin-qf1JFMe7_tF1-hNcAx_border-bottom-width: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-left-color: #dddddd;
  --mixin-qf1JFMe7_tF1-hNcAx_border-left-style: solid;
  --mixin-qf1JFMe7_tF1-hNcAx_border-left-width: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-right-color: #dddddd;
  --mixin-qf1JFMe7_tF1-hNcAx_border-right-style: solid;
  --mixin-qf1JFMe7_tF1-hNcAx_border-right-width: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-top-color: #dddddd;
  --mixin-qf1JFMe7_tF1-hNcAx_border-top-style: solid;
  --mixin-qf1JFMe7_tF1-hNcAx_border-top-width: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-bottom-left-radius: 3px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-bottom-right-radius: 3px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-top-left-radius: 3px;
  --mixin-qf1JFMe7_tF1-hNcAx_border-top-right-radius: 3px;
  --mixin-qf1JFMe7_tF1-hNcAx_font-family: "Inconsolata";
  --mixin-qf1JFMe7_tF1-hNcAx_padding-bottom: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_padding-left: 4px;
  --mixin-qf1JFMe7_tF1-hNcAx_padding-right: 4px;
  --mixin-qf1JFMe7_tF1-hNcAx_padding-top: 1px;
  --mixin-qf1JFMe7_tF1-hNcAx_white-space: pre-wrap;
  --mixin-g2gPzSDkH9Tp-hNcAx_border-left-color: #dddddd;
  --mixin-g2gPzSDkH9Tp-hNcAx_border-left-style: solid;
  --mixin-g2gPzSDkH9Tp-hNcAx_border-left-width: 3px;
  --mixin-g2gPzSDkH9Tp-hNcAx_color: #888888;
  --mixin-g2gPzSDkH9Tp-hNcAx_padding-left: 10px;
  --mixin-g2gPzSDkH9Tp-hNcAx_white-space: pre-wrap;
  --mixin-khyLjsTKihaK-hNcAx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-khyLjsTKihaK-hNcAx_border-bottom-color: #dddddd;
  --mixin-khyLjsTKihaK-hNcAx_border-bottom-style: solid;
  --mixin-khyLjsTKihaK-hNcAx_border-bottom-width: 1px;
  --mixin-khyLjsTKihaK-hNcAx_border-left-color: #dddddd;
  --mixin-khyLjsTKihaK-hNcAx_border-left-style: solid;
  --mixin-khyLjsTKihaK-hNcAx_border-left-width: 1px;
  --mixin-khyLjsTKihaK-hNcAx_border-right-color: #dddddd;
  --mixin-khyLjsTKihaK-hNcAx_border-right-style: solid;
  --mixin-khyLjsTKihaK-hNcAx_border-right-width: 1px;
  --mixin-khyLjsTKihaK-hNcAx_border-top-color: #dddddd;
  --mixin-khyLjsTKihaK-hNcAx_border-top-style: solid;
  --mixin-khyLjsTKihaK-hNcAx_border-top-width: 1px;
  --mixin-khyLjsTKihaK-hNcAx_border-bottom-left-radius: 3px;
  --mixin-khyLjsTKihaK-hNcAx_border-bottom-right-radius: 3px;
  --mixin-khyLjsTKihaK-hNcAx_border-top-left-radius: 3px;
  --mixin-khyLjsTKihaK-hNcAx_border-top-right-radius: 3px;
  --mixin-khyLjsTKihaK-hNcAx_font-family: "Inconsolata";
  --mixin-khyLjsTKihaK-hNcAx_padding-bottom: 3px;
  --mixin-khyLjsTKihaK-hNcAx_padding-left: 6px;
  --mixin-khyLjsTKihaK-hNcAx_padding-right: 6px;
  --mixin-khyLjsTKihaK-hNcAx_padding-top: 3px;
  --mixin-khyLjsTKihaK-hNcAx_white-space: pre-wrap;
  --mixin-bHMvlrGQLVkr-hNcAx_display: flex;
  --mixin-bHMvlrGQLVkr-hNcAx_flex-direction: column;
  --mixin-bHMvlrGQLVkr-hNcAx_align-items: stretch;
  --mixin-bHMvlrGQLVkr-hNcAx_justify-content: flex-start;
  --mixin-bHMvlrGQLVkr-hNcAx_list-style-position: outside;
  --mixin-bHMvlrGQLVkr-hNcAx_padding-left: 40px;
  --mixin-bHMvlrGQLVkr-hNcAx_position: relative;
  --mixin-bHMvlrGQLVkr-hNcAx_list-style-type: disc;
  --mixin-bHMvlrGQLVkr-hNcAx_white-space: pre-wrap;
  --mixin-VMOCbBqOvH1i-hNcAx_display: flex;
  --mixin-VMOCbBqOvH1i-hNcAx_flex-direction: column;
  --mixin-VMOCbBqOvH1i-hNcAx_align-items: stretch;
  --mixin-VMOCbBqOvH1i-hNcAx_justify-content: flex-start;
  --mixin-VMOCbBqOvH1i-hNcAx_list-style-position: outside;
  --mixin-VMOCbBqOvH1i-hNcAx_padding-left: 40px;
  --mixin-VMOCbBqOvH1i-hNcAx_position: relative;
  --mixin-VMOCbBqOvH1i-hNcAx_list-style-type: decimal;
  --mixin-VMOCbBqOvH1i-hNcAx_white-space: pre-wrap;
  --mixin-PST3zIcdOru0-hNcAx_color: #000000;
  --mixin-PST3zIcdOru0-hNcAx_font-size: 20px;
  --mixin-PST3zIcdOru0-hNcAx_font-weight: 600;
  --mixin-PST3zIcdOru0-hNcAx_line-height: 1.5;
  --mixin-PST3zIcdOru0-hNcAx_white-space: pre-wrap;
  --mixin-L_7UG0jJzwMn-hNcAx_color: #000000;
  --mixin-L_7UG0jJzwMn-hNcAx_font-size: 16px;
  --mixin-L_7UG0jJzwMn-hNcAx_font-weight: 600;
  --mixin-L_7UG0jJzwMn-hNcAx_line-height: 1.5;
  --mixin-L_7UG0jJzwMn-hNcAx_white-space: pre-wrap;
  --mixin-TATl19QcekvK-hNcAx_color: #3291ff;
  --mixin-TATl19QcekvK-hNcAx_white-space: pre-wrap;
  --mixin-y10bpyc9wlMd-hNcAx_white-space: pre-wrap;
  --mixin-a8l__50fXDtS-hNcAx_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-huhxfm7u9me9-hNcAx_font-family);
  font-size: var(--mixin-huhxfm7u9me9-hNcAx_font-size);
  font-weight: var(--mixin-huhxfm7u9me9-hNcAx_font-weight);
  font-style: var(--mixin-huhxfm7u9me9-hNcAx_font-style);
  color: var(--mixin-huhxfm7u9me9-hNcAx_color);
  text-align: var(--mixin-huhxfm7u9me9-hNcAx_text-align);
  text-transform: var(--mixin-huhxfm7u9me9-hNcAx_text-transform);
  line-height: var(--mixin-huhxfm7u9me9-hNcAx_line-height);
  letter-spacing: var(--mixin-huhxfm7u9me9-hNcAx_letter-spacing);
  white-space: var(--mixin-huhxfm7u9me9-hNcAx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-K4VQBBClfG8Y-hNcAx_color);
  font-weight: var(--mixin-K4VQBBClfG8Y-hNcAx_font-weight);
  font-size: var(--mixin-K4VQBBClfG8Y-hNcAx_font-size);
  line-height: var(--mixin-K4VQBBClfG8Y-hNcAx_line-height);
  letter-spacing: var(--mixin-K4VQBBClfG8Y-hNcAx_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-g4a6IchumP9e-hNcAx_color);
  font-size: var(--mixin-g4a6IchumP9e-hNcAx_font-size);
  font-weight: var(--mixin-g4a6IchumP9e-hNcAx_font-weight);
  letter-spacing: var(--mixin-g4a6IchumP9e-hNcAx_letter-spacing);
  line-height: var(--mixin-g4a6IchumP9e-hNcAx_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1KktMWgoc6vm-hNcAx_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-s3vX2BYoCs8Q-hNcAx_color);
  font-size: var(--mixin-s3vX2BYoCs8Q-hNcAx_font-size);
  font-weight: var(--mixin-s3vX2BYoCs8Q-hNcAx_font-weight);
  line-height: var(--mixin-s3vX2BYoCs8Q-hNcAx_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Ci574v0x8mX3-hNcAx_color);
  font-size: var(--mixin-Ci574v0x8mX3-hNcAx_font-size);
  font-weight: var(--mixin-Ci574v0x8mX3-hNcAx_font-weight);
  line-height: var(--mixin-Ci574v0x8mX3-hNcAx_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qf1JFMe7_tF1-hNcAx_font-family);
  border-radius: var(--mixin-qf1JFMe7_tF1-hNcAx_border-top-left-radius)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-top-right-radius)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-bottom-right-radius)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-bottom-left-radius);
  padding: var(--mixin-qf1JFMe7_tF1-hNcAx_padding-top)
    var(--mixin-qf1JFMe7_tF1-hNcAx_padding-right)
    var(--mixin-qf1JFMe7_tF1-hNcAx_padding-bottom)
    var(--mixin-qf1JFMe7_tF1-hNcAx_padding-left);
  border-top: var(--mixin-qf1JFMe7_tF1-hNcAx_border-top-width)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-top-style)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-top-color);
  border-right: var(--mixin-qf1JFMe7_tF1-hNcAx_border-right-width)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-right-style)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-right-color);
  border-bottom: var(--mixin-qf1JFMe7_tF1-hNcAx_border-bottom-width)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-bottom-style)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-bottom-color);
  border-left: var(--mixin-qf1JFMe7_tF1-hNcAx_border-left-width)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-left-style)
    var(--mixin-qf1JFMe7_tF1-hNcAx_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-g2gPzSDkH9Tp-hNcAx_color);
  padding-left: var(--mixin-g2gPzSDkH9Tp-hNcAx_padding-left);
  border-left: var(--mixin-g2gPzSDkH9Tp-hNcAx_border-left-width)
    var(--mixin-g2gPzSDkH9Tp-hNcAx_border-left-style)
    var(--mixin-g2gPzSDkH9Tp-hNcAx_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-khyLjsTKihaK-hNcAx_font-family);
  border-radius: var(--mixin-khyLjsTKihaK-hNcAx_border-top-left-radius)
    var(--mixin-khyLjsTKihaK-hNcAx_border-top-right-radius)
    var(--mixin-khyLjsTKihaK-hNcAx_border-bottom-right-radius)
    var(--mixin-khyLjsTKihaK-hNcAx_border-bottom-left-radius);
  padding: var(--mixin-khyLjsTKihaK-hNcAx_padding-top)
    var(--mixin-khyLjsTKihaK-hNcAx_padding-right)
    var(--mixin-khyLjsTKihaK-hNcAx_padding-bottom)
    var(--mixin-khyLjsTKihaK-hNcAx_padding-left);
  border-top: var(--mixin-khyLjsTKihaK-hNcAx_border-top-width)
    var(--mixin-khyLjsTKihaK-hNcAx_border-top-style)
    var(--mixin-khyLjsTKihaK-hNcAx_border-top-color);
  border-right: var(--mixin-khyLjsTKihaK-hNcAx_border-right-width)
    var(--mixin-khyLjsTKihaK-hNcAx_border-right-style)
    var(--mixin-khyLjsTKihaK-hNcAx_border-right-color);
  border-bottom: var(--mixin-khyLjsTKihaK-hNcAx_border-bottom-width)
    var(--mixin-khyLjsTKihaK-hNcAx_border-bottom-style)
    var(--mixin-khyLjsTKihaK-hNcAx_border-bottom-color);
  border-left: var(--mixin-khyLjsTKihaK-hNcAx_border-left-width)
    var(--mixin-khyLjsTKihaK-hNcAx_border-left-style)
    var(--mixin-khyLjsTKihaK-hNcAx_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-bHMvlrGQLVkr-hNcAx_display);
  flex-direction: var(--mixin-bHMvlrGQLVkr-hNcAx_flex-direction);
  align-items: var(--mixin-bHMvlrGQLVkr-hNcAx_align-items);
  justify-content: var(--mixin-bHMvlrGQLVkr-hNcAx_justify-content);
  list-style-position: var(--mixin-bHMvlrGQLVkr-hNcAx_list-style-position);
  padding-left: var(--mixin-bHMvlrGQLVkr-hNcAx_padding-left);
  position: var(--mixin-bHMvlrGQLVkr-hNcAx_position);
  list-style-type: var(--mixin-bHMvlrGQLVkr-hNcAx_list-style-type);
  flex-column-gap: var(--mixin-bHMvlrGQLVkr-hNcAx_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-VMOCbBqOvH1i-hNcAx_display);
  flex-direction: var(--mixin-VMOCbBqOvH1i-hNcAx_flex-direction);
  align-items: var(--mixin-VMOCbBqOvH1i-hNcAx_align-items);
  justify-content: var(--mixin-VMOCbBqOvH1i-hNcAx_justify-content);
  list-style-position: var(--mixin-VMOCbBqOvH1i-hNcAx_list-style-position);
  padding-left: var(--mixin-VMOCbBqOvH1i-hNcAx_padding-left);
  position: var(--mixin-VMOCbBqOvH1i-hNcAx_position);
  list-style-type: var(--mixin-VMOCbBqOvH1i-hNcAx_list-style-type);
  flex-column-gap: var(--mixin-VMOCbBqOvH1i-hNcAx_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-PST3zIcdOru0-hNcAx_color);
  font-size: var(--mixin-PST3zIcdOru0-hNcAx_font-size);
  font-weight: var(--mixin-PST3zIcdOru0-hNcAx_font-weight);
  line-height: var(--mixin-PST3zIcdOru0-hNcAx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-L_7UG0jJzwMn-hNcAx_color);
  font-size: var(--mixin-L_7UG0jJzwMn-hNcAx_font-size);
  font-weight: var(--mixin-L_7UG0jJzwMn-hNcAx_font-weight);
  line-height: var(--mixin-L_7UG0jJzwMn-hNcAx_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-TATl19QcekvK-hNcAx_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
