@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-d__FDKjeQ83e: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-checkbox-color-label-enabled-text: var(--token-d__FDKjeQ83e);
  --token-gniR4cG_fe6u: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-checkbox-color-label-focus-text: var(--token-gniR4cG_fe6u);
  --token-g79RI1c1r_j7: var(--token-6GfPPOchwYFz);
  --plasmic-token-checkbox-color-box-enabled-unchecked: var(
    --token-g79RI1c1r_j7
  );
  --token-peB_HECUu_YM: var(--token-6GfPPOchwYFz);
  --plasmic-token-checkbox-color-box-hover-unchecked: var(--token-peB_HECUu_YM);
  --token-Hs9_OfClPdOY: var(--token-6GfPPOchwYFz);
  --plasmic-token-checkbox-color-box-focus-unchecked: var(--token-Hs9_OfClPdOY);
  --token-sFQct9DgE1vU: var(--token-L5Jm3kgWukCd);
  --plasmic-token-checkbox-color-box-outline-focus-unchecked: var(
    --token-sFQct9DgE1vU
  );
  --token-CimO4yHNDxn1: var(--token-k5qyuiDMeumm);
  --plasmic-token-checkbox-color-box-enabled-checked: var(--token-CimO4yHNDxn1);
  --token-eY1ghBAUSY0p: var(--token-k5qyuiDMeumm);
  --plasmic-token-checkbox-color-box-state-indeterminate: var(
    --token-eY1ghBAUSY0p
  );
  --token-3uKlQwetq5nB: var(--token-k5qyuiDMeumm);
  --plasmic-token-checkbox-color-box-hover-indeterminate: var(
    --token-3uKlQwetq5nB
  );
  --token-j-3jXtj79lx5: var(--token-QyJYVQWEE7rW);
  --plasmic-token-checkbox-width-sm: var(--token-j-3jXtj79lx5);
  --token-nrB6DisPBcPt: var(--token-QyJYVQWEE7rW);
  --plasmic-token-checkbox-height-sm: var(--token-nrB6DisPBcPt);
  --token-hGSsh4w4kLTa: var(--token-60q15gbK5t2P);
  --plasmic-token-checkbox-label-fontsize-sm: var(--token-hGSsh4w4kLTa);
  --token-_df_f2ThPR9A: var(--token-PkBU9Xn6AoZn);
  --plasmic-token-checkbox-height-md: var(--token-_df_f2ThPR9A);
  --token--Gn5t-fFQvKw: var(--token-PkBU9Xn6AoZn);
  --plasmic-token-checkbox-width-md: var(--token--Gn5t-fFQvKw);
  --token-yEuGycThusIy: var(--token-nzhJo5rxzpC3);
  --plasmic-token-checkbox-label-fontsize-md: var(--token-yEuGycThusIy);
  --token-Wo_Dds1PoBay: var(--token-usnHGrPMOGMj);
  --plasmic-token-checkbox-height-lg: var(--token-Wo_Dds1PoBay);
  --token-QrOrwOMT5zd-: var(--token-usnHGrPMOGMj);
  --plasmic-token-checkbox-width-lg: var(--token-QrOrwOMT5zd-);
  --token-8REtSUN3asj1: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-checkbox-gap-md: var(--token-8REtSUN3asj1);
  --token-G31nwzkRcsWo: var(--token-VyLXiBKyJHka);
  --plasmic-token-checkbox-gap-sm: var(--token-G31nwzkRcsWo);
  --token-ccYbw8GJwkSe: var(--token-nzhJo5rxzpC3);
  --plasmic-token-switch-label-fontsize-md: var(--token-ccYbw8GJwkSe);
  --token-uCnFCOMksGIW: var(--token-60q15gbK5t2P);
  --plasmic-token-switch-label-fontsize-sm: var(--token-uCnFCOMksGIW);
  --token-prk8lVxgGDB4: var(--token-60q15gbK5t2P);
  --plasmic-token-dropdown-placeholder-fontsize-md: var(--token-prk8lVxgGDB4);
  --token-Ni63kFhstBl3: var(--token-2RB-LlABK1rQ);
  --plasmic-token-checkbox-radii-rounded: var(--token-Ni63kFhstBl3);
  --token-rvWmu0I03Axy: var(--token-IhDCwFnpbbqT);
  --plasmic-token-checkbox-color-box-background: var(--token-rvWmu0I03Axy);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-D2fBAA78NuON-bEVQS_font-family: "Inter", sans-serif;
  --mixin-D2fBAA78NuON-bEVQS_font-size: 16px;
  --mixin-D2fBAA78NuON-bEVQS_font-weight: 400;
  --mixin-D2fBAA78NuON-bEVQS_font-style: normal;
  --mixin-D2fBAA78NuON-bEVQS_color: #535353;
  --mixin-D2fBAA78NuON-bEVQS_text-align: left;
  --mixin-D2fBAA78NuON-bEVQS_text-transform: none;
  --mixin-D2fBAA78NuON-bEVQS_line-height: 1.5;
  --mixin-D2fBAA78NuON-bEVQS_letter-spacing: normal;
  --mixin-D2fBAA78NuON-bEVQS_white-space: pre-wrap;
  --mixin-D2fBAA78NuON-bEVQS_user-select: text;
  --mixin-D2fBAA78NuON-bEVQS_text-decoration-line: none;
  --mixin-D2fBAA78NuON-bEVQS_text-overflow: clip;
  --mixin-bDa4zMkIVhe9-bEVQS_color: #000000;
  --mixin-bDa4zMkIVhe9-bEVQS_font-weight: 700;
  --mixin-bDa4zMkIVhe9-bEVQS_font-size: 64px;
  --mixin-bDa4zMkIVhe9-bEVQS_line-height: 1;
  --mixin-bDa4zMkIVhe9-bEVQS_letter-spacing: -1px;
  --mixin-bDa4zMkIVhe9-bEVQS_white-space: pre-wrap;
  --mixin-eDojslawHHwc-bEVQS_color: #000000;
  --mixin-eDojslawHHwc-bEVQS_font-size: 48px;
  --mixin-eDojslawHHwc-bEVQS_font-weight: 700;
  --mixin-eDojslawHHwc-bEVQS_letter-spacing: -0.5px;
  --mixin-eDojslawHHwc-bEVQS_line-height: 1.1;
  --mixin-eDojslawHHwc-bEVQS_white-space: pre-wrap;
  --mixin-86O4RO8_hipb-bEVQS_color: #0070f3;
  --mixin-86O4RO8_hipb-bEVQS_white-space: pre-wrap;
  --mixin-LVoI9q2D0-iS-bEVQS_color: #000000;
  --mixin-LVoI9q2D0-iS-bEVQS_font-size: 32px;
  --mixin-LVoI9q2D0-iS-bEVQS_font-weight: 600;
  --mixin-LVoI9q2D0-iS-bEVQS_line-height: 1.2;
  --mixin-LVoI9q2D0-iS-bEVQS_white-space: pre-wrap;
  --mixin-ZBefrSE3Essk-bEVQS_color: #000000;
  --mixin-ZBefrSE3Essk-bEVQS_font-size: 24px;
  --mixin-ZBefrSE3Essk-bEVQS_font-weight: 600;
  --mixin-ZBefrSE3Essk-bEVQS_line-height: 1.3;
  --mixin-ZBefrSE3Essk-bEVQS_white-space: pre-wrap;
  --mixin-vlFPvmrN5m6d-bEVQS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vlFPvmrN5m6d-bEVQS_border-bottom-color: #dddddd;
  --mixin-vlFPvmrN5m6d-bEVQS_border-bottom-style: solid;
  --mixin-vlFPvmrN5m6d-bEVQS_border-bottom-width: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-left-color: #dddddd;
  --mixin-vlFPvmrN5m6d-bEVQS_border-left-style: solid;
  --mixin-vlFPvmrN5m6d-bEVQS_border-left-width: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-right-color: #dddddd;
  --mixin-vlFPvmrN5m6d-bEVQS_border-right-style: solid;
  --mixin-vlFPvmrN5m6d-bEVQS_border-right-width: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-top-color: #dddddd;
  --mixin-vlFPvmrN5m6d-bEVQS_border-top-style: solid;
  --mixin-vlFPvmrN5m6d-bEVQS_border-top-width: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-bottom-left-radius: 3px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-bottom-right-radius: 3px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-top-left-radius: 3px;
  --mixin-vlFPvmrN5m6d-bEVQS_border-top-right-radius: 3px;
  --mixin-vlFPvmrN5m6d-bEVQS_font-family: "Inconsolata";
  --mixin-vlFPvmrN5m6d-bEVQS_padding-bottom: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_padding-left: 4px;
  --mixin-vlFPvmrN5m6d-bEVQS_padding-right: 4px;
  --mixin-vlFPvmrN5m6d-bEVQS_padding-top: 1px;
  --mixin-vlFPvmrN5m6d-bEVQS_white-space: pre-wrap;
  --mixin-nEFJrGK5r8zC-bEVQS_border-left-color: #dddddd;
  --mixin-nEFJrGK5r8zC-bEVQS_border-left-style: solid;
  --mixin-nEFJrGK5r8zC-bEVQS_border-left-width: 3px;
  --mixin-nEFJrGK5r8zC-bEVQS_color: #888888;
  --mixin-nEFJrGK5r8zC-bEVQS_padding-left: 10px;
  --mixin-nEFJrGK5r8zC-bEVQS_white-space: pre-wrap;
  --mixin-md-IPFo6iqF7-bEVQS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-md-IPFo6iqF7-bEVQS_border-bottom-color: #dddddd;
  --mixin-md-IPFo6iqF7-bEVQS_border-bottom-style: solid;
  --mixin-md-IPFo6iqF7-bEVQS_border-bottom-width: 1px;
  --mixin-md-IPFo6iqF7-bEVQS_border-left-color: #dddddd;
  --mixin-md-IPFo6iqF7-bEVQS_border-left-style: solid;
  --mixin-md-IPFo6iqF7-bEVQS_border-left-width: 1px;
  --mixin-md-IPFo6iqF7-bEVQS_border-right-color: #dddddd;
  --mixin-md-IPFo6iqF7-bEVQS_border-right-style: solid;
  --mixin-md-IPFo6iqF7-bEVQS_border-right-width: 1px;
  --mixin-md-IPFo6iqF7-bEVQS_border-top-color: #dddddd;
  --mixin-md-IPFo6iqF7-bEVQS_border-top-style: solid;
  --mixin-md-IPFo6iqF7-bEVQS_border-top-width: 1px;
  --mixin-md-IPFo6iqF7-bEVQS_border-bottom-left-radius: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_border-bottom-right-radius: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_border-top-left-radius: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_border-top-right-radius: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_font-family: "Inconsolata";
  --mixin-md-IPFo6iqF7-bEVQS_padding-bottom: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_padding-left: 6px;
  --mixin-md-IPFo6iqF7-bEVQS_padding-right: 6px;
  --mixin-md-IPFo6iqF7-bEVQS_padding-top: 3px;
  --mixin-md-IPFo6iqF7-bEVQS_white-space: pre-wrap;
  --mixin-XNyaaXp3EKHI-bEVQS_display: flex;
  --mixin-XNyaaXp3EKHI-bEVQS_flex-direction: column;
  --mixin-XNyaaXp3EKHI-bEVQS_align-items: stretch;
  --mixin-XNyaaXp3EKHI-bEVQS_justify-content: flex-start;
  --mixin-XNyaaXp3EKHI-bEVQS_list-style-position: outside;
  --mixin-XNyaaXp3EKHI-bEVQS_padding-left: 40px;
  --mixin-XNyaaXp3EKHI-bEVQS_position: relative;
  --mixin-XNyaaXp3EKHI-bEVQS_list-style-type: disc;
  --mixin-XNyaaXp3EKHI-bEVQS_white-space: pre-wrap;
  --mixin-rHai1_Yfn-ra-bEVQS_display: flex;
  --mixin-rHai1_Yfn-ra-bEVQS_flex-direction: column;
  --mixin-rHai1_Yfn-ra-bEVQS_align-items: stretch;
  --mixin-rHai1_Yfn-ra-bEVQS_justify-content: flex-start;
  --mixin-rHai1_Yfn-ra-bEVQS_list-style-position: outside;
  --mixin-rHai1_Yfn-ra-bEVQS_padding-left: 40px;
  --mixin-rHai1_Yfn-ra-bEVQS_position: relative;
  --mixin-rHai1_Yfn-ra-bEVQS_list-style-type: decimal;
  --mixin-rHai1_Yfn-ra-bEVQS_white-space: pre-wrap;
  --mixin-yxoFkEsgQDVZ-bEVQS_color: #000000;
  --mixin-yxoFkEsgQDVZ-bEVQS_font-size: 20px;
  --mixin-yxoFkEsgQDVZ-bEVQS_font-weight: 600;
  --mixin-yxoFkEsgQDVZ-bEVQS_line-height: 1.5;
  --mixin-yxoFkEsgQDVZ-bEVQS_white-space: pre-wrap;
  --mixin-1MmnDFlgIGFu-bEVQS_color: #000000;
  --mixin-1MmnDFlgIGFu-bEVQS_font-size: 16px;
  --mixin-1MmnDFlgIGFu-bEVQS_font-weight: 600;
  --mixin-1MmnDFlgIGFu-bEVQS_line-height: 1.5;
  --mixin-1MmnDFlgIGFu-bEVQS_white-space: pre-wrap;
  --mixin-2yNkocYnB-NN-bEVQS_color: #3291ff;
  --mixin-2yNkocYnB-NN-bEVQS_white-space: pre-wrap;
  --mixin-PoI2irmYmV96-bEVQS_white-space: pre-wrap;
  --mixin-m_GyektrulPJ-bEVQS_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-BVoVWT8ZOdoW_box-shadow: 0px 0px 6px 1px var(--token-WQlfRbBqJnGU);
  --plasmic-mixin-button-primary-focus-shadow_box-shadow: var(
    --mixin-BVoVWT8ZOdoW_box-shadow
  );
  --mixin-BVoVWT8ZOdoW_white-space: pre-wrap;
  --plasmic-mixin-button-primary-focus-shadow_white-space: var(
    --mixin-BVoVWT8ZOdoW_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-D2fBAA78NuON-bEVQS_font-family);
  font-size: var(--mixin-D2fBAA78NuON-bEVQS_font-size);
  font-weight: var(--mixin-D2fBAA78NuON-bEVQS_font-weight);
  font-style: var(--mixin-D2fBAA78NuON-bEVQS_font-style);
  color: var(--mixin-D2fBAA78NuON-bEVQS_color);
  text-align: var(--mixin-D2fBAA78NuON-bEVQS_text-align);
  text-transform: var(--mixin-D2fBAA78NuON-bEVQS_text-transform);
  line-height: var(--mixin-D2fBAA78NuON-bEVQS_line-height);
  letter-spacing: var(--mixin-D2fBAA78NuON-bEVQS_letter-spacing);
  white-space: var(--mixin-D2fBAA78NuON-bEVQS_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-bDa4zMkIVhe9-bEVQS_color);
  font-weight: var(--mixin-bDa4zMkIVhe9-bEVQS_font-weight);
  font-size: var(--mixin-bDa4zMkIVhe9-bEVQS_font-size);
  line-height: var(--mixin-bDa4zMkIVhe9-bEVQS_line-height);
  letter-spacing: var(--mixin-bDa4zMkIVhe9-bEVQS_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-eDojslawHHwc-bEVQS_color);
  font-size: var(--mixin-eDojslawHHwc-bEVQS_font-size);
  font-weight: var(--mixin-eDojslawHHwc-bEVQS_font-weight);
  letter-spacing: var(--mixin-eDojslawHHwc-bEVQS_letter-spacing);
  line-height: var(--mixin-eDojslawHHwc-bEVQS_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-86O4RO8_hipb-bEVQS_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-LVoI9q2D0-iS-bEVQS_color);
  font-size: var(--mixin-LVoI9q2D0-iS-bEVQS_font-size);
  font-weight: var(--mixin-LVoI9q2D0-iS-bEVQS_font-weight);
  line-height: var(--mixin-LVoI9q2D0-iS-bEVQS_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ZBefrSE3Essk-bEVQS_color);
  font-size: var(--mixin-ZBefrSE3Essk-bEVQS_font-size);
  font-weight: var(--mixin-ZBefrSE3Essk-bEVQS_font-weight);
  line-height: var(--mixin-ZBefrSE3Essk-bEVQS_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vlFPvmrN5m6d-bEVQS_font-family);
  border-radius: var(--mixin-vlFPvmrN5m6d-bEVQS_border-top-left-radius)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-top-right-radius)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-bottom-right-radius)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-bottom-left-radius);
  padding: var(--mixin-vlFPvmrN5m6d-bEVQS_padding-top)
    var(--mixin-vlFPvmrN5m6d-bEVQS_padding-right)
    var(--mixin-vlFPvmrN5m6d-bEVQS_padding-bottom)
    var(--mixin-vlFPvmrN5m6d-bEVQS_padding-left);
  border-top: var(--mixin-vlFPvmrN5m6d-bEVQS_border-top-width)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-top-style)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-top-color);
  border-right: var(--mixin-vlFPvmrN5m6d-bEVQS_border-right-width)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-right-style)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-right-color);
  border-bottom: var(--mixin-vlFPvmrN5m6d-bEVQS_border-bottom-width)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-bottom-style)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-bottom-color);
  border-left: var(--mixin-vlFPvmrN5m6d-bEVQS_border-left-width)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-left-style)
    var(--mixin-vlFPvmrN5m6d-bEVQS_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-nEFJrGK5r8zC-bEVQS_color);
  padding-left: var(--mixin-nEFJrGK5r8zC-bEVQS_padding-left);
  border-left: var(--mixin-nEFJrGK5r8zC-bEVQS_border-left-width)
    var(--mixin-nEFJrGK5r8zC-bEVQS_border-left-style)
    var(--mixin-nEFJrGK5r8zC-bEVQS_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-md-IPFo6iqF7-bEVQS_font-family);
  border-radius: var(--mixin-md-IPFo6iqF7-bEVQS_border-top-left-radius)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-top-right-radius)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-bottom-right-radius)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-bottom-left-radius);
  padding: var(--mixin-md-IPFo6iqF7-bEVQS_padding-top)
    var(--mixin-md-IPFo6iqF7-bEVQS_padding-right)
    var(--mixin-md-IPFo6iqF7-bEVQS_padding-bottom)
    var(--mixin-md-IPFo6iqF7-bEVQS_padding-left);
  border-top: var(--mixin-md-IPFo6iqF7-bEVQS_border-top-width)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-top-style)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-top-color);
  border-right: var(--mixin-md-IPFo6iqF7-bEVQS_border-right-width)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-right-style)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-right-color);
  border-bottom: var(--mixin-md-IPFo6iqF7-bEVQS_border-bottom-width)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-bottom-style)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-bottom-color);
  border-left: var(--mixin-md-IPFo6iqF7-bEVQS_border-left-width)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-left-style)
    var(--mixin-md-IPFo6iqF7-bEVQS_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-XNyaaXp3EKHI-bEVQS_display);
  flex-direction: var(--mixin-XNyaaXp3EKHI-bEVQS_flex-direction);
  align-items: var(--mixin-XNyaaXp3EKHI-bEVQS_align-items);
  justify-content: var(--mixin-XNyaaXp3EKHI-bEVQS_justify-content);
  list-style-position: var(--mixin-XNyaaXp3EKHI-bEVQS_list-style-position);
  padding-left: var(--mixin-XNyaaXp3EKHI-bEVQS_padding-left);
  position: var(--mixin-XNyaaXp3EKHI-bEVQS_position);
  list-style-type: var(--mixin-XNyaaXp3EKHI-bEVQS_list-style-type);
  flex-column-gap: var(--mixin-XNyaaXp3EKHI-bEVQS_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-rHai1_Yfn-ra-bEVQS_display);
  flex-direction: var(--mixin-rHai1_Yfn-ra-bEVQS_flex-direction);
  align-items: var(--mixin-rHai1_Yfn-ra-bEVQS_align-items);
  justify-content: var(--mixin-rHai1_Yfn-ra-bEVQS_justify-content);
  list-style-position: var(--mixin-rHai1_Yfn-ra-bEVQS_list-style-position);
  padding-left: var(--mixin-rHai1_Yfn-ra-bEVQS_padding-left);
  position: var(--mixin-rHai1_Yfn-ra-bEVQS_position);
  list-style-type: var(--mixin-rHai1_Yfn-ra-bEVQS_list-style-type);
  flex-column-gap: var(--mixin-rHai1_Yfn-ra-bEVQS_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-yxoFkEsgQDVZ-bEVQS_color);
  font-size: var(--mixin-yxoFkEsgQDVZ-bEVQS_font-size);
  font-weight: var(--mixin-yxoFkEsgQDVZ-bEVQS_font-weight);
  line-height: var(--mixin-yxoFkEsgQDVZ-bEVQS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-1MmnDFlgIGFu-bEVQS_color);
  font-size: var(--mixin-1MmnDFlgIGFu-bEVQS_font-size);
  font-weight: var(--mixin-1MmnDFlgIGFu-bEVQS_font-weight);
  line-height: var(--mixin-1MmnDFlgIGFu-bEVQS_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-2yNkocYnB-NN-bEVQS_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
