.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - var(--token-8REtSUN3asj1));
  width: calc(100% + var(--token-8REtSUN3asj1));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-8REtSUN3asj1);
}
.rootisDisabled {
  opacity: 0.5;
}
.rootsize_s > :global(.__wab_flex-container) {
  margin-left: calc(0px - var(--token-G31nwzkRcsWo));
  width: calc(100% + var(--token-G31nwzkRcsWo));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootsize_s > :global(.__wab_flex-container) > *,
.rootsize_s > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootsize_s > :global(.__wab_flex-container) > picture > img,
.rootsize_s
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-G31nwzkRcsWo);
  margin-top: 0px;
}
.rootreverse {
  flex-direction: row-reverse;
}
.rootreverse > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootreverse > :global(.__wab_flex-container) > *,
.rootreverse > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootreverse > :global(.__wab_flex-container) > picture > img,
.rootreverse
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.root:focus-within {
  outline: none;
}
.root___focusVisibleWithin {
  outline: none;
}
.freeBox {
  display: flex;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  align-items: center;
  justify-content: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.root:focus-within .freeBox {
  box-shadow: 0px 0px 0px 1px var(--token-sFQct9DgE1vU);
  outline: none;
}
.root .freeBox___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px var(--token-sFQct9DgE1vU);
  outline: none;
}
.svg {
  position: relative;
  object-fit: cover;
  color: var(--token-g79RI1c1r_j7);
  width: var(--token--Gn5t-fFQvKw);
  height: var(--token-_df_f2ThPR9A);
  flex-shrink: 0;
}
.svgisChecked {
  color: var(--token-CimO4yHNDxn1);
}
.svgisIndeterminate {
  color: var(--token-eY1ghBAUSY0p);
}
.svgsize_s {
  width: var(--token-j-3jXtj79lx5);
  height: var(--token-nrB6DisPBcPt);
  flex-shrink: 0;
}
.svgsize_lg {
  width: var(--token-QrOrwOMT5zd-);
  height: var(--token-Wo_Dds1PoBay);
  flex-shrink: 0;
}
.root:hover .svg {
  color: var(--token-peB_HECUu_YM);
}
.rootisDisabled:hover .svgisDisabled {
  color: #dbdbd7;
}
.rootisChecked:hover .svgisChecked {
  color: #0081f1;
}
.rootisIndeterminate:hover .svgisIndeterminate {
  color: var(--token-3uKlQwetq5nB);
}
.root:focus-within .svg {
  color: var(--token-Hs9_OfClPdOY);
  outline: none;
}
.root .svg___focusVisibleWithin {
  color: var(--token-Hs9_OfClPdOY);
  outline: none;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root:focus-within .labelContainer {
  outline: none;
}
.root .labelContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  white-space: pre;
  color: var(--token-d__FDKjeQ83e);
}
.slotTargetChildren > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_expr_html_text),
.slotTargetChildren > :global(.__wab_slot-string-wrapper),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetChildren > *,
.slotTargetChildren > :global(.__wab_slot) > *,
.slotTargetChildren > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > :global(.__wab_slot) > picture > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetChildrensize_s {
  font-size: var(--token-hGSsh4w4kLTa);
}
.root:focus-within .slotTargetChildren {
  color: var(--token-gniR4cG_fe6u);
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
