.cardBase {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.cardBase > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.cardBase > :global(.__wab_flex-container) > *,
.cardBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBase > :global(.__wab_flex-container) > picture > img,
.cardBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.cardBasesize_sm {
  padding: var(--token-Hz6v97H6xVbi);
}
.cardBasesize_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Mqe-iV18Ejft));
  height: calc(100% + var(--token-Mqe-iV18Ejft));
}
.cardBasesize_sm > :global(.__wab_flex-container) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > picture > img,
.cardBasesize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Mqe-iV18Ejft);
}
.cardBasesize_lg {
  padding: var(--token-3HQiYjeHaj-l);
}
.cardBasesize_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-UP_KULkav8Lk));
  height: calc(100% + var(--token-UP_KULkav8Lk));
}
.cardBasesize_lg > :global(.__wab_flex-container) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > picture > img,
.cardBasesize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-UP_KULkav8Lk);
}
.cardBaseorientation_reorientateBase {
  display: flex;
  flex-direction: row;
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-OAMVlOMRRlt0));
  width: calc(100% + var(--token-OAMVlOMRRlt0));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > picture
  > img,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-OAMVlOMRRlt0);
  margin-top: 0px;
}
.cardBasereverse_reverseBase {
  flex-direction: column-reverse;
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > *,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > picture > img,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.cardBasetype_pricing {
  width: 100%;
  min-width: 0;
}
.cardBasetype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.cardBasebackgroundLayer_unnamedVariant {
  background: var(--token-LOPaWrJHx7uX);
}
.upperStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-kChqS-ho2d5l);
  padding-left: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.upperStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.upperStackorientation_reorientateUpperStack {
  display: flex;
  flex-direction: row;
}
.upperStackorientation_reorientateUpperStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-3ajic8j3bMDk));
  width: calc(100% + var(--token-3ajic8j3bMDk));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3ajic8j3bMDk);
  margin-top: 0px;
}
.upperStackreverse_reverseUpperStack {
  flex-direction: column-reverse;
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.upperStacktype_pricing {
  display: flex;
  flex-direction: column;
}
.upperStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStacktype_pricing > :global(.__wab_flex-container) > *,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.flairStack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.flairStacktype_basic {
  display: none;
}
.flairStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.visualStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-kChqS-ho2d5l);
}
.visualStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.visualStack > :global(.__wab_flex-container) > *,
.visualStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.visualStack > :global(.__wab_flex-container) > picture > img,
.visualStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.imageStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.imageStacktype_image {
  display: flex;
}
.imageStacktype_article {
  display: none;
}
.imageStacktype_pricing {
  display: none;
}
.image__ulb8U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.img__eSed {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__eSed > picture > img {
  object-fit: cover;
}
.iconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.iconStacktype_image {
  display: flex;
}
.iconStacktype_article {
  display: none;
}
.iconStacktype_user {
  display: none;
}
.iconStacktype_pricing {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.icon___4VDlP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dFaCz {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.actionStack {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.actionStackenableAction {
  display: flex;
}
.svg__b0Jqf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.headingStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.headingStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.headingStack > :global(.__wab_flex-container) > *,
.headingStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headingStack > :global(.__wab_flex-container) > picture > img,
.headingStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.headingStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.headingStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.headingStacktype_pricing > :global(.__wab_flex-container) > *,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headingStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.headerElementStack {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headerElementStacktype_pricing {
  width: auto;
}
.headerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.headerStacktype_image {
  display: none;
}
.title__hX8Ck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.kicker__kbHgg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__dMd1A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__p7OUi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__xeWPs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.subHeadline__sJqEx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__xUxre {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-7Q6Tq4DaBVj1));
  width: calc(100% + var(--token-7Q6Tq4DaBVj1));
}
.titleElementStack > :global(.__wab_flex-container) > *,
.titleElementStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleElementStack > :global(.__wab_flex-container) > picture > img,
.titleElementStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-7Q6Tq4DaBVj1);
}
.titleElementStacklayout_center > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.titleStack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.titleStackstyles_removeTitle {
  display: none;
}
.titleStackstyles_removeBody {
  display: flex;
}
.titleStacktype_user {
  display: none;
}
.title__kC2RL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.kicker__vaG7W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__k8Yd7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__kre41:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text___84Us4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.subHeadline__v1Nh8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__x0FGv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.lowerStack > :global(.__wab_flex-container) > *,
.lowerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lowerStack > :global(.__wab_flex-container) > picture > img,
.lowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.lowerStackorientation_reorientateLowerStack {
  display: flex;
  flex-direction: row;
}
.lowerStackorientation_reorientateLowerStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.lowerStackreverse_reverseLowerStack {
  flex-direction: column-reverse;
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.bodyStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.bodyStackstyles_removeBody {
  display: none;
}
.contentStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.contentStack > :global(.__wab_flex-container) > *,
.contentStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentStack > :global(.__wab_flex-container) > picture > img,
.contentStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.content__mnUB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__v6Uya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  padding-bottom: 0px;
  min-width: 0;
}
.listStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.listStack > :global(.__wab_flex-container) > *,
.listStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listStack > :global(.__wab_flex-container) > picture > img,
.listStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.listStacktype_pricing {
  display: flex;
}
.listGroup__eN4M6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listItem__puCqo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wpdPv {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__f0VOa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__luuqc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__w4JOf {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__bfWlf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ydY8C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2SzY9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__cLdoG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__rM0C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__z6Xuo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oY5Ol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__juqwk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cq8Rs {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__r09MG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__pjHg3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xZvJ8 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ceuBc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ybHsD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ckwky {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__eAW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem___6KWv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__nYcQo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ajWhP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__gILiH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yYlYr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kzirA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ojofn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uqwyo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tdDca {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__aXWq7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1TDjT {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ky8XE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__lpiGf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wyAgo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5Degh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerStack {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-3ajic8j3bMDk));
  height: calc(100% + var(--token-3ajic8j3bMDk));
}
.footerStack > :global(.__wab_flex-container) > *,
.footerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerStack > :global(.__wab_flex-container) > picture > img,
.footerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3ajic8j3bMDk);
}
.footerStacktype_article > :global(.__wab_flex-container) {
  align-items: flex-end;
  justify-content: flex-start;
}
.footerStacktype_pricing {
  width: 100%;
  min-width: 0;
}
.footerStacktype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.footerStacklayout_center > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.footerButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerButtonstyles_removeFooterButton {
  display: none;
}
.footerButtontype_article {
  display: none;
}
.footerButtontype_user {
  display: none;
}
.footerButtontype_pricing {
  width: 100%;
  min-width: 0;
}
.footerButtonlayout_center {
  align-items: center;
  justify-content: flex-start;
}
.button__loWO:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3667E {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wiTxO {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSeparator {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerSeparatortype_basic {
  display: none;
}
.footerSeparatortype_image {
  display: none;
}
.footerSeparatortype_article {
  display: none;
}
.footerSeparatortype_user {
  display: none;
}
.footerSeparatortype_pricing {
  display: none;
}
.separator:global(.__wab_instance) {
  max-width: 100%;
}
.footerInformation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.footerInformationstyles_removeFooterInformation {
  display: none;
}
.footerInformationtype_basic {
  display: none;
}
.footerInformationtype_image {
  display: none;
}
.footerInformationtype_article {
  display: flex;
}
.footerInformationtype_user {
  display: none;
}
.content:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  min-width: 0;
}
.footerIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerIconStacktype_basic {
  display: none;
}
.footerIconStacktype_image {
  display: none;
}
.footerIconStacktype_pricing {
  display: none;
}
.footerIconStacklayout_center {
  align-items: center;
  justify-content: flex-start;
}
.footerSocialIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerSocialIconStacktype_article {
  display: none;
}
.footerSocialIconStackfooterIconOptions_shareIcons {
  display: none;
}
.footerSocialIconStackfooterIconOptions_contactIcons {
  display: none;
}
.socialIcons__shdfV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__elHsn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__yvFzz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iNgsf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bzzmf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___9RiUe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kCsVh {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__p7DC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__vmrc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kDc09 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__exiUp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__li8CE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__j1LTw {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__oj0D {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__c44XY {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__u1NEz {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___9FrDt {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__rrnhD {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__zcRio {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mg2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nxtOn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kAr57 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__m9CB0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___2XtPi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__voBpb {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ueKuM {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__wjRcb {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iWTl {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__jWuRu {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___4UOfF {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__o5Z8P {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__aveVm {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__oveqQ {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.footerShareIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerShareIconStacktype_user {
  display: none;
}
.footerShareIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerShareIconStackfooterIconOptions_contactIcons {
  display: none;
}
.shareIcons__rPhZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__e0Min {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__eim9I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.footerContactIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerContactIconStacktype_article {
  display: none;
}
.footerContactIconStacktype_user {
  display: none;
}
.footerContactIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerContactIconStackfooterIconOptions_shareIcons {
  display: none;
}
.contactIcons__rnW4L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__f3YtA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg___3KSzy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg___3Z2EK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__gJEu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
