.root {
  display: flex;
  position: relative;
  flex-direction: column;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__ckony {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ckony > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ckony > :global(.__wab_flex-container) > *,
.freeBox__ckony > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ckony > :global(.__wab_flex-container) > picture > img,
.freeBox__ckony
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__bsWOo {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PLhTWxq3YTIS);
  min-width: 0;
}
.freeBox___2UM87 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2UM87 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2UM87 > :global(.__wab_flex-container) > *,
.freeBox___2UM87 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2UM87 > :global(.__wab_flex-container) > picture > img,
.freeBox___2UM87
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__faJaD {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__nbwd7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-UARCluYl9Kma);
  min-width: 0;
}
.text__cXt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Qvm9_7G7iEia);
  min-width: 0;
}
.text__qogJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ORBxY6W6u_AI);
  min-width: 0;
}
.text__uhhFj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-A4PJvrmmRiwb);
  min-width: 0;
}
.text__uyzyY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xc4PHUOBkzni);
  min-width: 0;
}
.text__vflWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-BVkkeTXFO-xt);
  min-width: 0;
}
.text__kTjeb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-mUL_uHHrlIrk);
  min-width: 0;
}
.text__bid6K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ai5uo7qMwkao);
  min-width: 0;
}
.text___7WW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uSYHLm-UA9yE);
  min-width: 0;
}
.freeBox__cs7Dx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__qmuW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-igJdyJ2281d2);
  min-width: 0;
}
.text__xiStV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-xY0kd6hzZX3s);
  min-width: 0;
}
.text__wcK0L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-MErgkXv71115);
  min-width: 0;
}
.text__heJ6P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ITlI150v2kN6);
  min-width: 0;
}
.text__fglRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qzjVFTlTYmRK);
  min-width: 0;
}
.text___6Up1Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-F_3vFM4uWmw9);
  min-width: 0;
}
.text__dtrJt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RbzQpy2-bISS);
  min-width: 0;
}
.text__nfH4I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-cJZDgBTM9xm0);
  min-width: 0;
}
.text__qSrVl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-nNTJj7CmLUIy);
  min-width: 0;
}
.freeBox__qnY6E {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__wuMzn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bzN9pOCryjY7);
  min-width: 0;
}
.text__zyHzJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-4IkCc3Y5RlLi);
  min-width: 0;
}
.text__bqtiJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Acg8nmbr7fHz);
  min-width: 0;
}
.text__f6M9G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zPbKpS9Xescz);
  min-width: 0;
}
.text__hZehP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-N4N1IqII1EjN);
  min-width: 0;
}
.text__bmdHi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-JlMRFtXd4azP);
  min-width: 0;
}
.text__k4Hq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-0wkhvCfgOSXk);
  min-width: 0;
}
.text__oiH6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-2Nk1dqOqvgo8);
  min-width: 0;
}
.text__ehUYt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qj5rQCHRrMv_);
  min-width: 0;
}
.freeBox__gmpwM {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___2AoUw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-apDyBn1uqloc);
  min-width: 0;
}
.text__hhNhy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-HmLtkt9L55g1);
  min-width: 0;
}
.text__jiYy4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_AC8qdIGc4Kb);
  min-width: 0;
}
.text__gp4M9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-g2_bFWphP2XX);
  min-width: 0;
}
.text__hCBkm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_EVQclp9w7zK);
  min-width: 0;
}
.text__yrfUq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-5CV97Aovadm7);
  min-width: 0;
}
.text__bkBd8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-5CV97Aovadm7);
  min-width: 0;
}
.text__ryAJb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-dZq2iCJIFBAp);
  min-width: 0;
}
.text__ukOa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-eHRYLg4OrUS6);
  min-width: 0;
}
.freeBox__ecGb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ecGb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ecGb > :global(.__wab_flex-container) > *,
.freeBox__ecGb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ecGb > :global(.__wab_flex-container) > picture > img,
.freeBox__ecGb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qKzU6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qKzU6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qKzU6 > :global(.__wab_flex-container) > *,
.freeBox__qKzU6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qKzU6 > :global(.__wab_flex-container) > picture > img,
.freeBox__qKzU6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bJEse {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-g5APF3DZBYgO);
  min-width: 0;
}
.text__rwC5X {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Yudsf9NNLCTF);
  min-width: 0;
}
.text__prDRj {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-YI8UzELdHtvD);
  min-width: 0;
}
.text__uDXai {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GQX_fkYbrT4c);
  min-width: 0;
}
.text__g4Ebr {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FfsKwES0eh_z);
  min-width: 0;
}
.text__yw8Dg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-gPY2uOEBb3aj);
  min-width: 0;
}
.text__aeNDe {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fdQnwpaq6qyr);
  min-width: 0;
}
.text__yvL70 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iQY0pijMFMMB);
  min-width: 0;
}
.freeBox__kPdkQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kPdkQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kPdkQ > :global(.__wab_flex-container) > *,
.freeBox__kPdkQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kPdkQ > :global(.__wab_flex-container) > picture > img,
.freeBox__kPdkQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__eBqMw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ew5uPFImRvfY);
  min-width: 0;
}
.text__q6TFn {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-_q9cYIeZoo9I);
  min-width: 0;
}
.text___9KSzU {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7gQ56zdXC0sl);
  min-width: 0;
}
.text__tHe8R {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-15sDvPP8pcdb);
  min-width: 0;
}
.text__qb3DC {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7yQ72y5l6ZN0);
  min-width: 0;
}
.text__fxjQc {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LEoyni1UOCMx);
  min-width: 0;
}
.text__aGYt2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FOe9VHW4o3Lz);
  min-width: 0;
}
.text___6PIaX {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-2XAZhkGgmAJR);
  min-width: 0;
}
.freeBox__tYahq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tYahq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tYahq > :global(.__wab_flex-container) > *,
.freeBox__tYahq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tYahq > :global(.__wab_flex-container) > picture > img,
.freeBox__tYahq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__e9V1X {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GnJOiKl0Lc4W);
  min-width: 0;
}
.text__zcqZt {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ytPlwXOrAGGP);
  min-width: 0;
}
.text__vzRs {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bZ9_93g4RCtq);
  min-width: 0;
}
.text__gAhL {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-d7mj2WjF2nd7);
  min-width: 0;
}
.text__o0WJi {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-oHlk8f7vvX_4);
  min-width: 0;
}
.text__fMkgC {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-C6mu8JJT02qd);
  min-width: 0;
}
.text__rTozk {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bx1XNFfT4y35);
  min-width: 0;
}
.text__aRvcn {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-HFOuNJCmuFaa);
  min-width: 0;
}
