.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bJy7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pm9Tr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pm9Tr > picture > img {
  object-fit: cover;
}
.text__oOmze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.badge:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___1EIjg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zKXzT {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b1Cwx {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.image__iUts:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__fa7Sq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fa7Sq > picture > img {
  object-fit: cover;
}
.icon__dvkn9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vDmcV {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pjoSf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.title__o9U4C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.kicker__a5Qlb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__aF2O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__yj7De:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__xbdcb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.subHeadline__boHl6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__r19B8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.title___5WeBy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.kicker__okMjs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__nVcW3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__t5G54:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__bc4Or {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.subHeadline__hrWEt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__qU4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.content__sklUh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__iccdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  padding-bottom: 0px;
  min-width: 0;
}
.listGroup__ftgUv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listItem__mnJrm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__opqAs {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___45VNw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem___1QpRv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b8Nyw {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ihhVf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__xpa2O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6P12A {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dtdWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem___4Pdrk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rouI {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__movKd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__yabKg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7XVwo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5AnBs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__pgCq3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2YxQ6 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kh2Tb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__uDf6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gEVsp {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__kJ6Iy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__yykvx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___9Nval {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nnb9L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__yMtoc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cql8S {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uozw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__jhtsG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fyU9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__j1S0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__rVn7O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ar5Rl {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oJcKa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__etsG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__i2TrJ {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__k3CKc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jzQmJ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qkHkz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tPg8H {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.socialIcons__blblz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__azn9W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__liHvu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__wc4W {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mq6YJ {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__o5Ha5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__gh5V {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__lNhXs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iakzV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__gyxH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__s9UCo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iJbuE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__fG1UK {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__c277M {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___8UE {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__j6HKp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__u4Skq {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ee4FR {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__udl4U {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__v7Q3X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__dLQ9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__phEtx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__sbFiF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__pO1O9 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nphW {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__o8Wns {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bwBlo {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mgPsh {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bPfgp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__biPpi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__gxQ20 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__jyxb5 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__sosWq {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.shareIcons__azBjx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__drImL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__p8IGp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.contactIcons__gxinj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mJntK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__e4Md {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__eWwYz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__zdwN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.contactIcons:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kObE5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__cV1Bu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__fs5Wg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__jaDj1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.headline:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__pn6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.icon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zhvKg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.image:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__bIo7A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bIo7A > picture > img {
  object-fit: cover;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uAbC {
  position: relative;
  object-fit: cover;
  width: var(--token-MGoQtn_vSURX);
  height: var(--token-FI87e4XJBPOg);
  color: var(--token-IEAUZsl2azV9);
}
.svg__dxdB5 {
  position: relative;
  object-fit: cover;
  width: var(--token-MGoQtn_vSURX);
  height: var(--token-FI87e4XJBPOg);
  color: var(--token-IEAUZsl2azV9);
}
.kicker:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___0FNS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.label:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.link:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listGroup:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listItem__ih3PM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7GlRq {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oGoek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ot1F3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bMz4W {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__a8EQd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__zmQQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8Upjy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wtRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__qpYaX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qeBM {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__cY7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__mi5Kn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uh0Sv {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___9Vuy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__rXdV4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__estv4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__emXHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__iGL2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qaImq {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qUq10 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__s7GZi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tXrut {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vnRdX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__twQ03:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__m9Vhc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sQAl8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__oQoac:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gWyi {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uIl5K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__aeBb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3L720 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__cTw0H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__iHkCq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yP0O {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wRlFx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1GaO5 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tERkL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.shareIcons:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hwFyc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__kRFZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.socialIcons:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vYDdi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__qjLO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kX5P {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__wg18C {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ajMbw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__xiEpM {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__b7H6X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nVlmB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nG31N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nyVJb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__seHg2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__oxAoQ {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iqmaF {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__tiUnk {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__utybz {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bRydt {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__uw6Hx {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__vcnPm {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__qg9A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__pClPr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mmJm6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__veV5M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bhvGo {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__k2CtR {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__m8VMv {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__vS7N {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__vbe31 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__xMy6 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__v75Bi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__qvxIi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__o7N5F {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__eeNr {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.subHeadline:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2KrO {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.separator:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.title:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.kicker__a9Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__qKlE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__dqIcl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__mYSq5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.subHeadline__lBl8O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__ml6Uu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tokens:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
